.sidebar {
    text-align: left;
    float: left;
    font-size: 12px;
    position: fixed;
}

body {
    background-color: #e5dcbd;
}

.main {
    clear: right;
    margin-left: 80px;
    background-color: white;


}

article {
    background-color: white;
    padding: 0px 50px 50px;
    z-index: 0;
    position: absolute;
    margin-top: 60px;
    border: 2px solid black;

}

.main .header {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Garamond", serif;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #e5dcbd;
    padding-top: 30px;
    margin-top: -10px;
    border-bottom: solid 2px black;
}

