@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MvCShop.Web.Models.Cart

<p>I love to do the chacha</p>

@foreach (var product in Model.Products)
{
    <p>@product.ProductId</p>
    <p>@product.Price</p>
}
